#------------------------------------------------
# Config
#------------------------------------------------

# Le serveur doit suivre les liens symboliques
Options +FollowSymlinks

# Activation du  module de reecriture d'url
RewriteEngine on 

#------------------------------------------------
# Regles de reecriture d'url
#------------------------------------------------

RewriteRule ^home$ index.html [L]



